{% from 'macros.html' import render_field_with_erros,render_method_field,general_modalform %}
{% extends 'master.html' %}

{% block title %}Manage Settings {% endblock %}

{% block mainContent %}
{{general_modalform()}}
<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{_('Site Settings')}}</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">


        <!-- Smart Wizard -->
        <p>{{_('Use the wizard for configuring this site.')}}</p>
        <div id="wizard" class="form_wizard wizard_horizontal">
          <ul class="wizard_steps">
            <li>
              <a href="#step-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                                  {{('General')}}<br />
                                  <small>{{('General settings')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = 2 %}
            {% if emit_event('print-prelogin-method-settings')  %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Prelogin')}}<br />
                                  <small>{{('Pre Login methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}

            {% if emit_event('print-login-method-settings')  %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Authentication')}}<br />
                                  <small>{{('Authentication methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}
            {% if emit_event('print-postlogin-method-settings')  %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Postlogin')}}<br />
                                  <small>{{('Postlogin methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}   
            {% if emit_event('print-export-method-settings')  %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Exports')}}<br />
                                  <small>{{('Export methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}                       
            <li>
            
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Report')}}<br />
                                  <small>{{('Configure reports')}}</small>
                              </span>
              </a>
            {% set stepcount = stepcount + 1 %}
            </li>
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Redirect')}}<br />
                                  <small>{{('Redirect guest after login')}}</small>
                              </span>
              </a>
            </li>      
            {% set stepcount = stepcount + 1 %}      
          </ul>
          <form  id='sitesettingsform'>
          <div id="step-1">
              <div class="form-horizontal">
                {{siteform.hidden_tag() }}
                {{render_field_with_erros(siteform.name)}}
                {{render_field_with_erros(siteform.timezone)}}
                {{render_field_with_erros(siteform.client_id)}}
                {{render_field_with_erros(siteform.backend_type)}}
                {{render_field_with_erros(siteform.sitekey)}}
              </div>

          </div>
          {% set stepcount = 2 %}
          {% if emit_event('print-prelogin-method-settings')  %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {{emit_event('print-prelogin-method-settings') }}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}

          {% if emit_event('print-login-method-settings') %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {{emit_event('print-login-method-settings')}}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}


          {% if emit_event('print-postlogin-method-settings')  %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {{emit_event('print-postlogin-method-settings') }}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}

          {% if emit_event('print-export-method-settings')  %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {{emit_event('print-export-method-settings') }}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}


          <div id="step-{{stepcount}}">
            <div class="form-horizontal"> 
                {{render_field_with_erros(siteform.reports_type)}}
                {{render_field_with_erros(siteform.reports_list)}}                
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          <div id="step-{{stepcount}}">
                <div class="form-horizontal"> 
                    {{render_field_with_erros(siteform.redirect_url)}}
                    
                </div>

                <button id='sitesettingsform-save-button' class='fake-submit' value="{{siteid}}"></button>

          {% set stepcount = stepcount + 1 %}  

          {{emit_event('print-site-settings')}}


          </div>
          </form>
        </div>
        <!-- End SmartWizard Content -->





  
      </div>
    </div>
  </div>
</div>
{% endblock%}


{% block js_block %}
    <script src="{{ url_for('static', filename='jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script> 
    <script src="{{ url_for('static', filename='custom/js/ajaxform.js') }}"></script> 
    <script src="{{ url_for('static', filename='custom/js/moduleform.js') }}"></script> 
    <script src="{{ url_for('static', filename='custom/js/smsgateways.js') }}"></script> 
    <!-- jQuery Smart Wizard -->
    <script>
      $(document).ready(function() {

         create_site_menu("{{url_for('WifisiteAPI:index')}}","{{siteid}}");

         var siteform = new AjaxForm("{{url_for('WifisiteAPI:index')}}",'sitesettingsform',"{{siteid}}");

         var generalmodal = new ModuleGeneralForm('general_modal');       

          //handling addition of new element
          $(document).on('click', '.method_btn', function(e){ 
              console.log(this);
              var api_url ="/s/{{siteid}}/"+this.name+"/config/"
              $('#general_modal-save-button').val(api_url);
              repopulatemoduleform(api_url);
              $('#general_modal').modal();   
          });

          var repopulatemoduleform = function(url) {
              this.url    = url;
              $.blockUI({target: "#general_modal-form",baseZ: 2000});
              $.ajaxSetup({
                  timeout: 30000,
                  error: function(xhr) {
                          $.unblockUI({target:"#general_modal-form"});
                          new ShowError('Error',"Network timeout!!,Please try again later");
                       }
               });    

              $('#general_modal-form-body').load(url, 
                      function( response, status, xhr ) {
                      $.unblockUI({target:"#general_modal-form"});

              });             
          }

         //Hide the fake submit link
         $('.fake-submit').hide();

         
        $('#wizard').smartWizard({
              onFinish:function() {                  
                  $( "#sitesettingsform-save-button" ).trigger( "click" );
              },

        });

        $('.method_btn').hide();

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');

        //---------------Input login config boxes
        $('input[type="checkbox"]').change(function(e){ 

            if (this.checked) {
              $('#'+this.id+'-btn').show();
            }else{
              $('#'+this.id+'-btn').hide();

            }
       


        });  
  

      });
    </script>
    <!-- /jQuery Smart Wizard -->
{%endblock%}