{% from 'macros.html' import render_field_with_erros,render_method_field,general_modalform %}
{% extends 'master.html' %}

{% block title %}Manage Settings {% endblock %}

{% block mainContent %}
{{general_modalform()}}
<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{_('Site Settings')}}</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">


        <!-- Smart Wizard -->
        <p>{{_('Use the wizard for configuring this site.')}}</p>
        <div id="wizard" class="form_wizard wizard_horizontal">
          <ul class="wizard_steps">
            <li>
              <a href="#step-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                                  {{('General')}}<br />
                                  <small>{{('General settings')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = 2 %}
            {% if config['GUESTPRELOGIN_MODULES'] %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Prelogin')}}<br />
                                  <small>{{('Pre Login methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}

            {% if config['GUESTLOGIN_MODULES'] %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Authentication')}}<br />
                                  <small>{{('Authentication methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}
            {% if config['GUESTPOSTLOGIN_MODULES'] %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Postlogin')}}<br />
                                  <small>{{('Postlogin methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}   
            {% if config['GUESTEXPORT_MODULES'] %}
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Exports')}}<br />
                                  <small>{{('Export methods')}}</small>
                              </span>
              </a>
            </li>
            {% set stepcount = stepcount + 1 %}
            {% endif %}                       
            <li>
            
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Report')}}<br />
                                  <small>{{('Configure reports')}}</small>
                              </span>
              </a>
            {% set stepcount = stepcount + 1 %}
            </li>
            <li>
              <a href="#step-{{stepcount}}">
                <span class="step_no">{{stepcount}}</span>
                <span class="step_descr">
                                  {{('Redirect')}}<br />
                                  <small>{{('Redirect guest after login')}}</small>
                              </span>
              </a>
            </li>      
            {% set stepcount = stepcount + 1 %}      
          </ul>
          <form  id='sitesettingsform'>
          <div id="step-1">
              <div class="form-horizontal">
                {{siteform.hidden_tag() }}
                {{render_field_with_erros(siteform.name)}}
                {{render_field_with_erros(siteform.timezone)}}
                {{render_field_with_erros(siteform.client_id)}}
                {{render_field_with_erros(siteform.backend_type)}}
                {{render_field_with_erros(siteform.sitekey)}}
              </div>

          </div>
          {% set stepcount = 2 %}
          {% if config['GUESTPRELOGIN_MODULES'] %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {% for field in siteform %}
                    <!--render login types -->
                    {% if field.id is is_prelogin_method%}
                    {{render_method_field(field)}}
                    {%endif%}

                {% endfor %}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}

          {% if config['GUESTLOGIN_MODULES'] %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {% for field in siteform %}
                    <!--render login types -->
                    {% if field.id is is_login_method%}
                    {{render_method_field(field)}}
                    {%endif%}

                {% endfor %}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}


          {% if config['GUESTPOSTLOGIN_MODULES'] %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {% for field in siteform %}
                    <!--render login types -->
                    {% if field.id is is_postlogin_method%}
                    {{render_method_field(field)}}
                    {%endif%}

                {% endfor %}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}

          {% if config['GUESTEXPORT_MODULES'] %}
          <div id="step-{{stepcount}}">
            <div class="form-horizontal">
                {% for field in siteform %}
                    <!--render login types -->
                    {% if field.id is is_export_method%}
                    {{render_method_field(field)}}
                    {%endif%}

                {% endfor %}
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          {% endif %}


          <div id="step-{{stepcount}}">
            <div class="form-horizontal"> 
                {{render_field_with_erros(siteform.reports_type)}}
                {{render_field_with_erros(siteform.reports_list)}}                
            </div>
          {% set stepcount = stepcount + 1 %}
          </div>
          <div id="step-{{stepcount}}">
                <div class="form-horizontal"> 
                    {{render_field_with_erros(siteform.redirect_url)}}
                    
                </div>

                <button id='sitesettingsform-save-button' class='fake-submit' value="{{siteid}}"></button>

          {% set stepcount = stepcount + 1 %}  
          </div>
          </form>
        </div>
        <!-- End SmartWizard Content -->





  
      </div>
    </div>
  </div>
</div>
{% endblock%}


{% block js_block %}
    <script src="{{ url_for('static', filename='jQuery-Smart-Wizard/js/jquery.smartWizard.js') }}"></script> 
    <script src="{{ url_for('static', filename='custom/js/ajaxform.js') }}"></script> 
    <script src="{{ url_for('static', filename='custom/js/moduleform.js') }}"></script> 
    <!-- jQuery Smart Wizard -->
    <script>
      $(document).ready(function() {

         create_site_menu("{{url_for('WifisiteAPI:index')}}","{{siteid}}");

         var siteform = new AjaxForm("{{url_for('WifisiteAPI:index')}}",'sitesettingsform',"{{siteid}}");


          //conig options for different modules

          {% for mod in config['GUESTLOGIN_MODULES'] %}
              new ModuleForm("/s/{{siteid}}/{{mod}}/config/",'general_modal','auth_{{mod}}-btn')
          {% endfor %}

          {% for mod in config['GUESTPRELOGIN_MODULES'] %}
              new ModuleForm("/s/{{siteid}}/{{mod}}/config/",'general_modal','preauth_{{mod}}-btn')
          {% endfor %}                  

          {% for mod in config['GUESTPOSTLOGIN_MODULES'] %}
              new ModuleForm("/s/{{siteid}}/{{mod}}/config/",'general_modal','postauth_{{mod}}-btn')
          {% endfor %}       


          {% for mod in config['GUESTEXPORT_MODULES'] %}
              new ModuleForm("/s/{{siteid}}/{{mod}}/config/",'general_modal','export_{{mod}}-btn')
          {% endfor %}              

         //Hide the fake submit link
         $('.fake-submit').hide();

         
        $('#wizard').smartWizard({
              onFinish:function() {                  
                  $( "#sitesettingsform-save-button" ).trigger( "click" );
              },

        });

        $('.auth_btn').hide();

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');

        //---------------Input login config boxes
        $('input[type="checkbox"]').change(function(){ 

          {% for mod in config['GUESTLOGIN_MODULES'] %}
              if($('#auth_{{mod}}' ).is(":checked")){
                  $('#auth_{{mod}}-btn').show();
              }else{
                  $('#auth_{{mod}}-btn').hide();
              }
          {% endfor %}

          {% for mod in config['GUESTPRELOGIN_MODULES'] %}
              if($('#preauth_{{mod}}' ).is(":checked")){
                  $('#preauth_{{mod}}-btn').show();
              }else{
                  $('#preauth_{{mod}}-btn').hide();
              }
          {% endfor %}                  

          {% for mod in config['GUESTPOSTLOGIN_MODULES'] %}
              if($('#postauth_{{mod}}' ).is(":checked")){
                  $('#postauth_{{mod}}-btn').show();
              }else{
                  $('#postauth_{{mod}}-btn').hide();
              }
          {% endfor %}       


          {% for mod in config['GUESTEXPORT_MODULES'] %}
              if($('#export_{{mod}}' ).is(":checked")){
                  $('#export_{{mod}}-btn').show();
              }else{
                  $('#export_{{mod}}-btn').hide();
              }
          {% endfor %}             


        });  
        //------------Payment gateway-----------------
          $(document).on('change', '#payment_gateway', function(){
              if($('#payment_gateway').val()== 'stripe'){
                $('#payment_auth_field1-form-group').show();
                $('#payment_auth_field2-form-group').hide();
                $('#payment_auth_field3-form-group').hide();
                $('#label_payment_auth_field1').text('Stripe Secret Key');
              }
              else if ($('#payment_gateway').val() == 'paypalpro'){
                $('#payment_auth_field1-form-group').show();
                $('#payment_auth_field2-form-group').show();
                $('#payment_auth_field3-form-group').show();
                $('#label_payment_auth_field1').text('Client ID');
                $('#label_payment_auth_field2').text('Client Secret');                    
                $('#label_payment_auth_field3').text('Mode(live/sandbox)');                    
              }else{
                $('#payment_auth_field1-form-group').hide();
                $('#payment_auth_field2-form-group').hide();
                $('#payment_auth_field3-form-group').hide();

              }

        });   

      });
    </script>
    <!-- /jQuery Smart Wizard -->
{%endblock%}